<div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>แก้ไขข้อมูลสินค้า</h1>
          </div>
          <div class="col-sm-6">
  
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content-header">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">แก้ไขข้อมูลลูกค้า</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form (ngSubmit)="editCustomers()">
            <div class="row">
  
              <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                  <label>ชื่อ</label>
                  <input name="firstname" type="text" class="form-control" [(ngModel)]="Customers.firstname">
                </div>
              </div>
              <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                  <label>นามสกุล</label>
                  <input name="lastname" type="text" class="form-control" [(ngModel)]="Customers.lastname">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>ที่อยู่</label>
                  <input name="address" type="text" class="form-control" [(ngModel)]="Customers.address">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>เบอร์โทรศัพท์</label>
                  <input name="phoneNumber" type="text" class="form-control" [(ngModel)]="Customers.phoneNumber">
                </div>
              </div>
  
          </div>
            <div class="form-group">
              <td>
                <button class="btn btn-block btn-warning ">ยืนยัน</button>
              </td>
              <td>
                <button class="btn btn-block  " routerLink="/Customers"> กลับ</button>
              </td>
            </div>
  
  
  
  
          </form>
        </div>
        <!-- /.card-body -->
      </div>
    </section>
  </div>
  }