.example-card {
  max-width: 200px;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
} */

mat-grid-tile {
  background: lightblue;
}

.wrapper {
  text-align: center;
}

mat-card{
  border-radius: 15px;
  text-align: left;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  font-size: 18px;
  line-height:24px;
}

kbd.sale{
  background-color:#7fdaab;
  color: #495057;
  border-radius: 30px;
  font-family: 'Kanit', sans-serif !important;
}

kbd.out{
  background-color:#da7f7f;
  color: #495057;
  border-radius: 30px;
  font-family: 'Kanit', sans-serif !important;
}