.example-card {
  max-width: 200px;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}
mat-grid-tile {
  background: lightblue;
}