<div class="main-container" style=" height:200vh;">
    <h3 class="card-title">สูตรการผลิตสินค้า/ชิ้น</h3>
  <div class="card card-primary">
  
                <div class="card-body">
                  <form [formGroup]=form (ngSubmit)="insertData()">
                      <div class="row">
                         
                        <div class="col-sm-4">
                          <div class="form-group">
                            <div class="form-group">
                              <label>วัตถุดิบ :</label>
                              <select class="form-control" formControlName="material_id" [(ngModel)]="formula.material_id">
                                <option value="">เลือก</option>
                                <option *ngFor="let mat of MaterialsList" value="{{mat.material_id}}">{{mat.material_name}}</option>
                              </select>
            
                            </div>
                          </div>
                        </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="formula.quantity">
                            </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <div class="form-group">
                              <label>วัตถุดิบ :</label>
                              <select class="form-control" formControlName="material_id" [(ngModel)]="formula.material_id">
                                <option value="">เลือก</option>
                                <option *ngFor="let mat of MaterialsList" value="{{mat.material_id}}">{{mat.material_name}}</option>
                              </select>
            
                            </div>
                          </div>
                        </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="formula.quantity">
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <div class="form-group">
                              <label>วัตถุดิบ :</label>
                              <select class="form-control" formControlName="material_id" [(ngModel)]="formula.material_id">
                                <option value="">เลือก</option>
                                <option *ngFor="let mat of MaterialsList" value="{{mat.material_id}}">{{mat.material_name}}</option>
                              </select>
            
                            </div>
                          </div>
                        </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="formula.quantity">
                            </div>
                        </div>

                      </div>
                      <div class="form-group">

                        <td>
                          <button class="btn btn-block btn-success ">ยืนยัน</button>
                        </td>
                        <td>
                          <button class="btn btn-block  " routerLink="/shows"> กลับ</button>
                        </td>
                      </div>
                  </form>
                  <br>
                
              </div>
              <!-- /.card-body -->
            </div>
          </div>