<div class="main-container" style=" height:200vh;">
    <h3 class="card-title">สูตรการผลิตสินค้า/ชิ้น</h3>
  <div class="card card-primary">
  
                <div class="card-body">
                  <form>
                      <div class="row">
                         
                          <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 ">
                            <label>วัตถุดิบ</label>
                            <select class="form-control"name="">
                              <option value="">เลือก</option>
                              <option ></option>
                            </select>
                          </div>
                          <div class="col-sm-5">
                            <!-- text input -->
                            <div class="form-group">
                                <label>จำนวน</label>
                                <input formControlName="material_id" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                          
                      </div>
                  </form>
                  <br>
                
              </div>
              <!-- /.card-body -->
            </div>
          </div>