<div class="content-wrapper" style="min-height: 1244.06px;">
  <section class="content-header">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-6">
            <button class="btn btn-success" (click)=export()>ดาวน์โหลดแบบฟอร์ม <i
                class="fas fa-arrow-circle-down"></i></button>
                <a href="#" class="btn btn-success" [routerLink]="['/ImportData']"
              routerLinkActive="router-link-active">เพิ่มข้อมูลลูกค้า <i class="fas fa-arrow-circle-right"></i></a>
          </div>

          <div class="col-sm-2">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="ค้นหา..." [(ngModel)]="filterTerm">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">รายชื่อลูกค้า</h3>

        <div class="card-tools">
         
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table" id="excel-table">
          <thead>
            <tr>
              <th>รหัสลูกค้า</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>ที่อยู่</th>
              <th>เบอร์โทรศัพท์</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of dataArr | filter: filterTerm">
              <td>{{customer.customer_id}}</td>
              <td>{{customer.firstname}}</td>
              <td>{{customer.lastname}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td class="text-right py-0 align-middle">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-info" routerLink="/editc/{{customer.customer_id}}"
                    routerLinkActive="router-link-active"><i class="fas fa-pencil-alt"></i></button>
                  <button class="btn btn-danger" (click)="deleteCustomers(customer.customer_id)"><i
                      class="fas fa-trash"></i></button>
                  
                </div>
              </td>
            </tr>
          </tbody>

          <!-- </li> -->

        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <ngb-pagination [collectionSize]="totalCount" [pageSize]="limit" [(page)]="page"  aria-label="Default pagination" (pageChange)="getCustomers()"></ngb-pagination>
  
  </section>
</div>