<div class="content-wrapper" style="min-height: 1244.06px;">

    <section class="content-header">
      <div class="container-fluid">
          
  
  
      </div>
      <!-- /.container-fluid -->
  </section>
  
  
    <section class="content">
      <div class="container-fluid">
        <div class="card card-success">
          <div class="card-header">เพิ่มข้อมูลลูกค้า</div>
          <div class="card-body">
            <form novalidate [formGroup]="formImport" (submit)='handleSubmit($event, formImport)'>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" multiple class="custom-file-input" multiple formControlName="importFile" id="importFile"
                    (change)="onFileChange($event.target.files)">
                  <label class="custom-file-label" #labelImport for="importFile">เลือกไฟล์ </label>
                </div>
              </div>
              <div class="form-group">
                <td>
                <button class="btn btn-success" type="submit" [disabled]='formImport.invalid'><i
                    class="fas fa-file-import"></i> ยืนยัน
                </button></td>
                <td>
                  <button class="btn btn-block  " routerLink="/Customers"> กลับ</button>
                </td>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>