<br>
<div class="row">
  <div class="col-12">
    <p class="link" routerLink="/showInstruction"><span class="material-icons">chevron_left</span>ย้อนกลับ</p>
  </div>
</div>
<div class="main-container" style=" height:90vh;">
  <div class="row">
    <div class="col-12">
      <h3>แก้ไขวิธีใช้สินค้า</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h5>หัวข้อ</h5>
          <input formControlName="title" id="title" type="text" class="form-control" [formControl]="title" required>
          <br><br>
          <h5>คำอธิบายวิธีการใช้สินค้า</h5><br>
          <quill-editor formControlName="detail" [modules]="config" (onContentChanged)="maxLenght($event)"></quill-editor>
        </div>
        <div style="text-align: right;">
          <button class="btn btn-outline-secondary">แสดงตัวอย่าง</button>
          <button type="submit" class="btn btn-success" (click)="onClickSubmit()">บันทึกข้อความ</button>
        </div>
        
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ตัวอย่างข้อความ</h5>
          <p class="card-text" [innerHTML]="editorContent"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
