<mat-toolbar class="title">
    <img src="assets/Image/TCRU.jpg" alt="TCRU" width="60" />
    <app-toggle-sidebar></app-toggle-sidebar>
    <span class="text">ระบบการจัดการการผลิตสินค้า</span>
    <button class="logout" mat-button [matMenuTriggerFor]="dropDown">โปรไฟล์<mat-icon class="ml-1">arrow_drop_down</mat-icon></button>
    <mat-menu #dropDown="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span class="logout">ออกจากระบบ</span>
    </button>
    </mat-menu>
</mat-toolbar>