.example-button-row {
    display: table-cell;
    width: 500px;
    font-family: 'Kanit', sans-serif;
}

kbd.out{
    background-color: #7fdaab;
    color: #495057;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif !important;
    text-align: center;
  }

  kbd.wait{
    background-color:#F8C471;
    color: #495057;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif !important;
    text-align: center;
  }

* {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

.example-button-row .mat-button-base {
    margin: 0px 1px 8px 10px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 10%;
}

th.mat-header-cell {
    text-align: left;
    font-family: 'Kanit', sans-serif;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.font {
    color: black;
}

.flex {
    margin-left: 500px;
}

button {
    margin: 5px;
}

.panel-custom-width {
    width: 100px !important;
    max-width: unset !important;
}