<div class="row mat-grid-list">
    <div class="col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>ศูนย์ผลิตและบริการชีวินทรีย์เกษตร มหาวิทยาลัยวลัยลักษณ์</p>
                <p>222 ต.ไทยบุรี อ.ท่าศาลา จ.นครศรีธรรมราช 80160</p>
                <p>บริษัท วลัยไบโอคอนโทรล จำกัด</p>
                <p>©Copyright 2020</p>
            <!-- </div>
            <div class="col-md-5"> -->
                <p>ติดต่อ: 092 329 3569, 075 677 200</p>
                <p>FB: ศูนย์ชีวินทรีย์ ม.วลัยลักษณ์</p>
                <p>Line ID: tcruwu</p>
            </div>
        </div>
    </div>
</div>
