<div class="main-container" style=" height:200vh;">
  <section class="content-header">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-7 ">
            <a href="#" class="btn btn-success " [routerLink]="['/addp']"
              routerLinkActive="router-link-active">เพิ่มข้อมูลสินค้า <i
                class="fas fa-arrow-circle "></i></a>&nbsp;&nbsp;
                <a href="#" class="btn btn-success " [routerLink]="['/formula']"
              routerLinkActive="router-link-active">เพิ่มสูตรการผลิต <i
                class="fas fa-arrow-circle "></i></a>&nbsp;&nbsp;
            <a href="#" class="btn btn-success " [routerLink]="['/']" 
              routerLinkActive="router-link-active">รายละเอียดการผลิต <i class="fas fa-arrow-circle "></i></a>
          </div>
        </div>
      </div>
    </section>
    <h5 class="card-title">ข้อมูลสินค้า</h5>

    <div class="card card-success">
      <div class="card-body p-0">
        <div class="search-hero">
          <input  class="form-control " type="search" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="ค้นหา">
        </div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th>รหัสวัตถุดิบ</th> -->
              <th>รูปสินค้า</th>
              <th>ชื่อสินค้า</th>
              <th>ราคา</th>
              <th>น้ำหนัก/กรัม</th>
              <th>จำนวนวันที่เก็บรักษา</th>
              <!-- <th>รายละเอียด</th> -->
              <th>ประเภทสินค้า</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mat of dataArr | filter:searchText ">
              <td><img [src]="mat.image ? imageDirectoyPath+mat.image : 'assets/image/no-image.png'" height="50px"></td>
              <td>{{mat.product_name}}</td>
              <td>{{mat.price}}</td>
              <td>{{mat.weight}}</td>
              <td>{{mat.expire}}&nbsp;&nbsp;&nbsp;วัน</td>
              <td>{{mat.name}}</td>
              <td class="text-right py-0 align-middle">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-info" routerLink="/formula(mat.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button class="btn btn-warning" routerLink="/editp/{{mat.id}}">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="btn btn-default" routerLink="/addstock">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                  <!-- <button  class="btn btn-danger"(click)="deleteMaterial(mat.material_id)"><i class="fas fa-trash"></i></button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <ngb-pagination [collectionSize]="totalCount" [pageSize]="limit" [(page)]="page" aria-label="Default pagination"
      (pageChange)="getProduct()"></ngb-pagination>
  </section>
</div>