<div class="main-container" style=" height:200vh;">
  <section class="content-header">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-7 ">
            <a href="#" class="btn btn-success " [routerLink]="['/addp']"
              routerLinkActive="router-link-active">เพิ่มข้อมูลสินค้า <i
                class="fas fa-arrow-circle "></i></a>&nbsp;&nbsp;
            <!-- <a href="#" class="btn btn-success " [routerLink]="['/formula']"
              routerLinkActive="router-link-active">เพิ่มสูตรการผลิต <i
                class="fas fa-arrow-circle "></i></a> -->
          </div>
        </div>
      </div>
    </section>
    <form [formGroup]=form >
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <label>ค้นหาสินค้าจากประเภทสินค้า :</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-group">
            <select class="form-control" formControlName="category_id" [(ngModel)]="product.category_id"(change)="getProductCategory($event)">
              <option  value="">ทั้งหมด</option>  
              <option *ngFor="let mat of categoryArr" value="{{mat.id}}">{{mat.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div></form>
    <h5 class="card-title">ข้อมูลสินค้า</h5>
    <div class="card card-success">
      <div class="card-body p-0">
        <table class="table">
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อสินค้า</th>
              <th>จุดวิกฤตของสินค้า</th>
              <th>น้ำหนัก/ชิ้น</th>
              <th>ราคา</th>
              <th>เพิ่มสูตรการผลิต | แก้ไขข้อมูลสินค้า</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mat of ProductCategory ;let i=index ">
              <td>{{i+1}}</td>
              <td>{{mat.product_name}}</td>
              <td>{{mat.critical}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mat.unit}}</td>
              <td>{{mat.weight}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mat.weight_unit}}</td>
              <td>{{mat.price}}&nbsp;&nbsp;&nbsp;บาท</td>
              <!-- <td><img [src]="mat.image ? imageDirectoyPath+mat.image : 'assets/image/no-image.png'" height="50px"></td> -->
              <!-- <td>{{mat.material_name}}</td> -->
              <!-- <td *ngFor="let friend of dataArr">{{friend.material_name}}</td> -->
              <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-info" routerLink="/formula/{{mat.id}}">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button class="btn btn-warning" routerLink="/editp/{{mat.id}}">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- <button class="btn btn-default" routerLink="/addstock">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button> -->
                  <!-- <button class="btn btn-danger" (click)="deleteProduct(mat.id)">
                    <mat-icon>delete_sweep</mat-icon>
                  </button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <!-- <ngb-pagination [collectionSize]="totalCount" [pageSize]="limit" [(page)]="page" aria-label="Default pagination"
      (pageChange)="getProduct()"></ngb-pagination> -->
  </section>
</div>