<div class="main-container" style=" height:90vh;">
    <div class="row">
        <div class="col-sm-8">
            <div class="example-button-row">
                <a href="#" class="btn btn-success" [routerLink]="['/addOrderMaterials']" routerLinkActive="router-link-active">ใบสั่งซื้อ</a>
            </div>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
        </div>
    </div>
    <div class="card card-success" style="margin-top: 50px; margin-right: 90px;">
        <div class="card-header">
            <h3 class="card-title">รายการสั่งซื้อวัตถุดิบ</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>รหัสการสั่งซื้อ</th>
                        <th>รายการ</th>
                        <th>จำนวน</th>
                        <th>สถานะการสั่งซื้อ</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- <tr *ngFor="let customer of customersList">
                        <td>{{customer.customer_id}}</td>
                        <td>{{customer.firstname}}</td>
                        <td>{{customer.lastname}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.phoneNumber}}</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <ngb-pagination [collectionSize]="totalCount" [pageSize]="limit" [(page)]="page" aria-label="Default pagination" (pageChange)="getOrderMaterials()"></ngb-pagination>
</div>