<div class="main-container" style="height: 137vh;">
    <!-- หัวเรื่อง -->
    <h5 class="card-title">ใบสั่งซื้อวัตถุดิบ</h5>

    <!-- body -->
    <section class="content-header">
        <div class="card-body">
            <form [formGroup]="form">
                <!-- หัวเรื่องข้อมูลใบสั่งซื้อ -->
                <div class="card-header">
                    <div class="col-sm-12">
                        <label>ข้อมูลใบสั่งซื้อ</label>
                    </div>
                </div>

                <!-- ข้อมูลใบสั่งซื้อ -->
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <!-- เลขที่ใบสั่งซื้อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>เลขที่ใบสั่งซื้อ</label>
                                    <input type="text" class="form-control" formControlName="order_name" placeholder="EX: PO-1903" [(ngModel)]="OrderMaterials.order_name">
                                </div>
                            </div>

                            <!-- ร้านค้า -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>ชื่อร้านค้า</label>
                                    <select class="form-control" formControlName="shop_name" [(ngModel)]="OrderMaterials.shop_name">
                                        <option value="">ร้านค้า</option>
                                    </select>
                                </div>
                            </div>

                            <!-- ผู้ติดต่อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>ชื่อผู้ติดต่อ</label>
                                    <input type="text" class="form-control" formControlName="contact_person" [(ngModel)]="OrderMaterials.contact_person">
                                </div>
                            </div>

                            <!-- เบอร์โทรผู้ติดต่อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>เบอร์โทรศัพท์ผู้ติดต่อ</label>
                                    <input type="text" class="form-control" formControlName="phone_contact_person" [(ngModel)]="OrderMaterials.phone_contact_person">
                                </div>
                            </div>

                            <!-- ที่อยู่ในการจัดส่งวัตถุดิบ -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ที่อยู่การจัดส่ง</label>
                                    <textarea class="form-control" formControlName="address" [(ngModel)]="OrderMaterials.address"></textarea>
                                </div>
                            </div>

                            <!-- วันที่ -->
                            <!-- วันที่สั่งซื้อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>วันที่สั่งซื้อวัตถุดิบ</label>
                                    <input type="date" [value]="from | date:'yyyy-MM-dd'" (input)="updateFromDate($event)" class="form-control" placeholder="วันที่สั่งซื้อวัตถุดิบ" [(ngModel)]="OrderMaterials.start_date" />
                                </div>
                            </div>
                            <!-- วันที่ได้รับวัตถุดิบ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>วันที่ได้รับวัตถุดิบ</label>
                                    <input type="date" [value]="to | date:'yyyy-MM-dd'" (input)="updateToDate($event)" class="form-control" placeholder="วันที่ได้รับวัตถุดิบ" [(ngModel)]="OrderMaterials.end_date" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- รายการสั่งซื้อ -->
                <!-- หัวเรื่องรายการสั่งซื้อ -->
                <div class="card-header">
                    <div class="col-sm-12">
                        <label>รายการ</label>
                    </div>
                </div>

                <!-- หัวเรื่องย่อยรายการสั่งซื้อวัตถุดิบ -->
                <div class="card cars-primary">
                    <div class="card-body">
                        <form [formGroup]="formMaterial">
                            <div class="row">
                                <!-- รายการสั่งซื้อ -->
                                <!-- เลือกวัตถุดิบ -->
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>ชื่อวัตถุดิบ</label>
                                        <select class="form-control" formControlName="material_name" [(ngModel)]="OrderMaterials.material_name">
                                            <option value="">วัตถุดิบ</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- จำนวน -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>จำนวน</label>
                                        <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="OrderMaterials.quantity">
                                    </div>
                                </div>
                                <!-- หน่วยนับ -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>หน่วยนับ</label>
                                        <select class="form-control" formControlName="unit" [(ngModel)]="OrderMaterials.unit_material_id">
                                            <option value="">หน่วยนับ</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- ราคา -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>ราคา</label>
                                        <input type="number" class="form-control" formControlName="price" [(ngModel)]="OrderMaterials.price">
                                    </div>
                                </div>
                                <!-- ส่วนลด -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>ส่วนลด</label>
                                        <input type="number" class="form-control" formControlName="discount" [(ngModel)]="OrderMaterials.discount">
                                    </div>
                                </div>
                                <!-- ปุ่มเพิ่มรายการ -->
                                <div class="col-sm-1">
                                    <button class="btn btn-success" (click)="add()">เพิ่มรายการ</button>
                                </div>

                                <!-- ตารางรายการสั่งซื้อวัตถุดิบ -->
                                <div class="card-body col-sm-11.5">
                                    <!-- หัวเรื่องรายการสั่งซื้อ -->
                                    <div class="card-header">
                                        <div class="col-sm-12">
                                            <label>รายการสั่งซื้อ</label>
                                        </div>
                                    </div>
                                    <!-- หัวตารางรายการสั่งวัตถุดิบ -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>ลำดับ</th>
                                                <th>ชื่อวัตถุดิบ</th>
                                                <th>จำนวน</th>
                                                <th>หน่วยนับ</th>
                                                <th>ราคา</th>
                                                <th>ส่วนลด</th>
                                                <th>ยอดรวม</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let material of materials; let i=index">
                                                <td></td>
                                                <td>{{i+1}}</td>
                                                <td>{{material?.material_name}}</td>
                                                <td>{{material?.quantity}}</td>
                                                <td>{{material?.unit_material_id}}</td>
                                                <td>{{material?.price}}</td>
                                                <td>{{material?.discount}}</td>
                                                <td>{{ summary(material) | number : '1.2-2'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <hr />
                                    <div>
                                        <form [formGroup]="formvat">
                                            <input type="radio" name="vat" value="Y" formControlName="vat" [(ngModel)]="OrderMaterials.vat"> มีภาษีมูลค่าเพิ่ม 7%
                                            <input type="radio" name="vat" value="N" formControlName="vat" [(ngModel)]="OrderMaterials.vat"> ไม่มีภาษีมูลค่าเพิ่ม 7%
                                        </form>
                                    </div>

                                    <div style="text-align: right;">
                                        ยอดรวม
                                    </div>

                                    <div style="text-align: right;">
                                        VAT 7%
                                    </div>
                                    <div style="text-align: right;">
                                        รวมเงินทั้งสิ้น
                                    </div>
                                    <div style="text-align: right;">
                                        no vat 7%
                                    </div>
                                    <div style="text-align: right;">
                                        รวมเงินทั้งสิ้น
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <td>
                            <button class="btn btn-block btn-success">ยืนยัน</button>
                        </td>
                        <td>
                            &nbsp; <button class="btn btn-secondary" routerLink="/showOrderM">กลับ</button>
                        </td>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>