<div class="main-container" style="height: 137vh;">
    <!-- หัวเรื่อง -->
    <h5 class="card-title">ใบสั่งซื้อวัตถุดิบ</h5>

    <!-- body -->
    <section class="content-header">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="insertData()">
                <!-- หัวเรื่องข้อมูลใบสั่งซื้อ -->
                <div class="card-header">
                    <div class="col-sm-12">
                        <label>ข้อมูลใบสั่งซื้อ</label>
                    </div>
                </div>

                <!-- ข้อมูลใบสั่งซื้อ -->
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <!-- เลขที่ใบสั่งซื้อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>เลขที่ใบสั่งซื้อ</label>
                                    <input type="text" class="form-control" formControlName="order_name" placeholder="EX: PO-1903" [(ngModel)]="OrderMaterials.order_name">
                                    <div *ngIf="order_name.invalid && (order_name.dirty || order_name.touched)" class="text-error">
                                        <div *ngIf="order_name.errors.required">
                                            กรุณากรอกเลขที่ใบสั่งซื้อ
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ร้านค้า -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>ชื่อร้านค้า</label>
                                    <select class="form-control" formControlName="shop_name" [(ngModel)]="OrderMaterials.shop_name">
                                        <option value="">ร้านค้า</option>
                                        <option *ngFor="let mat of suppilerArr" value="{{mat.shop_name}}">{{mat.store_name}}</option>
                                    </select>
                                    <!-- <div *ngIf="shop_name.invalid && (shop_name.dirty || shop_name.touched)" class="text-error">
                                        <div *ngIf="shop_name.errors.required">
                                            กรุณาเลือกร้านค้า
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <!-- ผู้ติดต่อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>ชื่อผู้ติดต่อ</label>
                                    <input type="text" class="form-control" formControlName="contact_person" [(ngModel)]="OrderMaterials.contact_person">
                                    <div *ngIf="contact_person.invalid && (contact_person.dirty || contact_person.touched)" class="text-error">
                                        <div *ngIf="contact_person.errors.required">
                                            กรุณากรอกชื่อผู้ติดต่อ
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- เบอร์โทรผู้ติดต่อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>เบอร์โทรศัพท์ผู้ติดต่อ</label>
                                    <input type="text" class="form-control" formControlName="phone_contact_person" [(ngModel)]="OrderMaterials.phone_contact_person">
                                    <div *ngIf="phone_contact_person.invalid && (phone_contact_person.dirty || phone_contact_person.touched)" class="text-error">
                                        <div *ngIf="phone_contact_person.errors.required">
                                            กรุณากรอกเบอร์โทรศัพท์ผู้ติดต่อ
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ที่อยู่ในการจัดส่งวัตถุดิบ -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ที่อยู่การจัดส่ง</label>
                                    <textarea class="form-control" formControlName="address" [(ngModel)]="OrderMaterials.address"></textarea>
                                </div>
                            </div>

                            <!-- วันที่ -->
                            <!-- วันที่สั่งซื้อ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>วันที่สั่งซื้อวัตถุดิบ</label>
                                    <input type="date" [value]="from | date:'yyyy-MM-dd'" (input)="updateFromDate($event)" class="form-control" placeholder="วันที่สั่งซื้อวัตถุดิบ" fromNameControl="start_date" [(ngModel)]="OrderMaterials.start_date" />
                                </div>
                            </div>
                            <!-- วันที่ได้รับวัตถุดิบ -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>วันที่ได้รับวัตถุดิบ</label>
                                    <input type="date" [value]="to | date:'yyyy-MM-dd'" (input)="updateToDate($event)" class="form-control" placeholder="วันที่ได้รับวัตถุดิบ" [(ngModel)]="OrderMaterials.end_date" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- รายการสั่งซื้อ -->
                <!-- หัวเรื่องรายการสั่งซื้อ -->
                <div class="card-header">
                    <div class="col-sm-12">
                        <label>รายการ</label>
                    </div>
                </div>

                <!-- หัวเรื่องย่อยรายการสั่งซื้อวัตถุดิบ -->
                <div class="card cars-primary">
                    <div class="card-body">
                        <form [formGroup]="formMaterial">
                            <div class="row">
                                <!-- รายการสั่งซื้อ -->
                                <!-- เลือกวัตถุดิบ -->
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>ชื่อวัตถุดิบ</label>
                                        <input type="text" class="form-control" formControlName="material_name" [(ngModel)]="OrderMaterials.material_name">
                                        <div *ngIf="material_name.invalid && (material_name.dirty || material_name.touched)" class="text-error">
                                            <div *ngIf="material_name.errors.required">
                                                กรุณากรอกชื่อวัตถุดิบ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- จำนวน -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>จำนวน</label>
                                        <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="OrderMaterials.quantity">
                                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-error">
                                            <div *ngIf="quantity.errors.required">
                                                กรุณากรอกจำนวน
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ราคา -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>ราคา</label>
                                        <input type="number" class="form-control" formControlName="price" [(ngModel)]="OrderMaterials.price">
                                    </div>
                                </div>
                                <!-- ส่วนลด -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>ส่วนลด</label>
                                        <input type="number" class="form-control" formControlName="discount" [(ngModel)]="OrderMaterials.discount">
                                    </div>
                                </div>

                                <!-- ปุ่มเพิ่มรายการ -->
                                <div class="col-sm-1">
                                    <button class="btn btn-success" (click)="add()">เพิ่มรายการ</button>
                                </div>

                                <!-- ตารางรายการสั่งซื้อวัตถุดิบ -->
                                <div class="card-body col-sm-11.5">
                                    <!-- หัวเรื่องรายการสั่งซื้อ -->
                                    <div class="card-header">
                                        <div class="col-sm-12">
                                            <label>รายการสั่งซื้อ</label>
                                        </div>
                                    </div>
                                    <!-- หัวตารางรายการสั่งวัตถุดิบ -->
                                    <div class="table-list">
                                        <div class="heading">
                                            <div>ชื่อวัตถุดิบ</div>
                                            <div>จำนวน</div>
                                            <div>หน่วยนับ</div>
                                            <div>ราคา</div>
                                            <div>ส่วนลด</div>
                                            <div>ยอดรวม</div>
                                        </div>
                                        <div class="body" *ngFor="let d of data; let i = index">
                                            <div>{{d?.name_material}}</div>
                                            <div>{{d?.quantity}}</div>
                                            <div>{{d.unit}}</div>
                                            <div>{{d?.price | number : '1.2-2'}} ฿</div>
                                            <div>{{d?.discount | number : '1.2-2'}} ฿</div>
                                            <div>{{ getSummary(d) | number : '1.2-2'}} ฿</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <td>
                            <button class="btn btn-block btn-success">ยืนยัน</button>
                        </td>
                        <td>
                            &nbsp; <button class="btn btn-secondary" routerLink="/showOrderM">ยกเลิก</button>
                        </td>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>