<div class="main-container" style=" height:200vh;">
    <div class="card-body">
        <h5 class="card-title">สต๊อกสินค้า</h5>

        <br>
        <div class="card card-success">
            
            <div class="card-body p-0 ">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>รหัสวัตถุดิบ</th> -->
                            <th>ชื่อสินค้า</th>
                            <th>สินค้าคงเหลือ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- <li *ngFor="let mat of materialList"> -->
                    <tbody>
                        <tr *ngFor="let mat of dataArr ">
                            <td>{{mat.product_name}}</td>
                            <td>{{mat.sumproduct}}</td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-info" routerLink="/showlotp/{{mat.product_id}}">
                                        <mat-icon>pageview</mat-icon>
                                    </button>
                                    <!-- <button  class="btn btn-danger"(click)="deletesupplier(mat.id)"><mat-icon>delete_sweep</mat-icon></button> -->
                                  </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.card-body -->

</div>


