<div class="main-container" style=" height:200vh;">
  <section class="content-header">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-4 ">
            <a href="#" class="btn btn-success " [routerLink]="['/formm']"
              routerLinkActive="router-link-active">เพิ่มวัตถุดิบ <mat-icon>add_circle_outline</mat-icon></a>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <br><br>
    <form [formGroup]=form >
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
          <label>ค้นหาวัตถุดิบจากประเภท :</label>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="form-group">
              <select class="form-control" formControlName="category_id" [(ngModel)]="Materials.category_id"(change)="getMeterialService($event)">
                <option  value="">ทั้งหมด</option>  
                <option *ngFor="let mat of categoryArr" value="{{mat.id}}">{{mat.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <h5 class="card-title">วัตถุดิบ</h5>
    <div class="card card-success">
      <div class="card-body p-0">
        <div class="card-body p-0 ">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>รูปวัตถุดิบ</th> -->
                <th></th>
                <th>ลำดับ</th>
                <th>ชื่อวัตถุดิบ</th>
                <th>จุดวิกฤตของสินค้า</th>
                <th>แก้ไขวัตถุดิบ</th>
                <!-- <th>หน่วย</th> -->
                <!-- <th>ประเภทวัตถุดิบ</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mat of MaterialCategory ;let i=index ">
                <td></td>
                <td>{{i+1}}</td>
                <!-- <td><img [src]="mat.image ? imageDirectoyPath+mat.image : 'assets/image/no-image.png'" height="50px">
                </td> -->
                <td>{{mat.material_name}}</td>
                <td>{{mat.critical}}</td>
                <td >
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-warning" routerLink="/editm/{{mat.material_id}}">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  </section>
</div>