th {
    display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
    font-family: 'Kanit', cursive;

}
table {
    /* border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    border-spacing: 0; */
    /* align-items: center; */
    background: #fff;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    max-width: calc(100% - 2em);
    margin: 1em;

    overflow: hidden;

    
  }
  .card-title{
    margin: 1em;
  }
  h3 {
    font: 400 16px/28px ;
    letter-spacing: normal;
    font-family: 'Kanit', cursive;
    margin: 0 0 16px;
}
td{
    display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
    
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Kanit', cursive;
  text-align: center;
}
img {

  border-radius: 10%;
  padding: 3px;
  width: 90px;
  height: 70px;
  /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}
.content-header {

  align-items: center;
  flex-direction: column;
}


.pagination {
  margin: 1em;
}