
<div class="bar">
  <div class="row" *ngIf="!(isHandset$ | async)">
    <div class="col-md-1"></div>
    <div class="col-md-5" style="text-align: left;">
      <!-- <a routerLink="/contact" *ngIf="loggedIn && !(isHandset$ | async)">ติดต่อศูนย์</a> -->
    </div>
    <div class="col-md-5">
      <a routerLink="/faq" *ngIf="loggedIn && !(isHandset$ | async)">คำถามพบบ่อย</a>
      <a routerLink="/contact" *ngIf="loggedIn && !(isHandset$ | async)">ติดต่อศูนย์</a>
      <a routerLink="/profile" *ngIf="loggedIn && !(isHandset$ | async)">บัญชีของฉัน</a>
      <a routerLink="/register" *ngIf="!loggedIn && !(isHandset$ | async)">ลงทะเบียน</a>
      <a routerLink="/login" *ngIf="!loggedIn && !(isHandset$ | async)">เข้าสู่ระบบ</a>
      <a routerLink="" (click)="logout($event)" *ngIf="loggedIn && !(isHandset$ | async)">ออกจากระบบ</a>
      <!-- <a class="navbar-brand" routerLink="/" style="margin-left: 60px;">
        <label style="font-size: 16px;">&nbsp;&nbsp;หน้าหลัก</label>
      </a>   -->
    </div>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)!.matches === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="profile" *ngIf="loggedIn">
          <span class="material-icons">account_box</span>&nbsp;บัญชีผู้ใช้
        </a>
        <a mat-list-item  routerLink="/cart" *ngIf="loggedIn">
          <span class="material-icons">shopping_cart</span>&nbsp;ตะกร้าสินค้า
        </a>
        <a mat-list-item  routerLink="/instruction">
          <span class="material-icons">tag</span>&nbsp;วิธีใช้สินค้า
        </a>
        <a mat-list-item  routerLink="/contact">
          <span class="material-icons">contact_support</span>&nbsp;ติดต่อศูนย์
        </a>
        <a mat-list-item  routerLink="/faq">
          <span class="material-icons">contact_support</span>&nbsp;คำถามพบบ่อย
        </a>
        <a mat-list-item routerLink="/register" *ngIf="!loggedIn">
          <span class="material-icons">person_add_alt_1</span>&nbsp;ลงทะเบียน
        </a>
        <a mat-list-item routerLink="/login" *ngIf="!loggedIn">
          <span class="material-icons">login</span>&nbsp;เข้าสู่ระบบ
        </a>
        <a mat-list-item  routerLink="" (click)="logout($event)" *ngIf="loggedIn">
          <span class="material-icons">logout</span>&nbsp;ออกจากระบบ
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)!.matches === false">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- <p *ngIf="!(isHandset$ | async)" class="hide">ออกจากระบบ</p> -->
        <a class="navbar-brand" routerLink="/" style="padding-left: 70px;">
          <img src="../../../assets/tcru-crop-removebg.png" height="47">
          <label style="font-size: 16px;">&nbsp;&nbsp;หน้าหลัก</label>
        </a>
        <a class="navbar-brand" routerLink="/instruction">
          <label style="font-size: 16px;">&nbsp;&nbsp;เกี่ยวกับสินค้า</label>
        </a>  
        <span class="spacer"></span>
          <a mat-list-item routerLink="/cart" *ngIf="loggedIn && !(isHandset$ | async)" id="cart" style="padding-right: 100px;"><span class="material-icons" matBadge="{{cartTotal}}" matBadgeColor="warn">shopping_cart</span></a>
          <!-- <p *ngIf="!(isHandset$ | async)" class="hide">ออกจากระบบ</p> -->
        
      </mat-toolbar>
      <!-- Add Content Here -->
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>