.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 10000;
  overflow: visible;
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline;
  margin: 0 10px;
  color: #495057;
  text-decoration: none;
  /* height: 100px; */
}

.icon {
  font-size:36px;
  line-height:24px;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
  font-size:36px;
  line-height:24px;
}

