<br>
<div class="container">
  <div *ngIf="productInCart.length == 0">
    <!-- <div class="row">
      <div class="col-md-12">
        
      </div>
    </div> -->
    <br><br>
    <div class="row">
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-12 center">
        <img src="../../../../assets/f261d222816d01149261d6237bef4e62.png"
          alt="Icon made from http://www.onlinewebfonts.com/icon Icon Fonts is licensed by CC BY 3.0"
          style="width: 120px;">
        <br><br>
        <p>ไม่มีสินค้าในตะกร้า</p>
        <button mat-stroked-button routerLink="/"><span class="material-icons">
            add_circle_outline
          </span>&nbsp;&nbsp;เลือกซื้อสินค้า</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

    </div>
    <br><br><br><br>
  </div>

  <div [@fadeInOut] *ngIf="cartStatus == false && productInCart.length != 0">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <div *ngIf="!(isHandset$ | async)">
            <div class="row">
              <div class="col-md-1" style="text-align: center;">
                <p>เลือก</p>
              </div>
              <div class="col-md-6">
                <p>สินค้า</p>
              </div>
              <div class="col-md-2">
                <p>จำนวนสินค้า(ชิ้น)</p>
              </div>
              <div class="col-md-2" style="text-align: center;">
                <p>ราคารวม(บาท)</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngFor="let cart of productInCart;let i = index" style="padding: 30px;">
            <div class="col-md-1" style="text-align: left; padding: 15px;" *ngIf="!(isHandset$ | async)">

              <input type="checkbox" [(ngModel)]="cart.checked" (change)="changeSelection()">

            </div>
            <div class="col-md-2">
              <img mat-card-image src="../../../../assets/{{cart.image}}">
            </div>
            <div class="col-md-4">
              <mat-card-title>

                <input type="checkbox" [(ngModel)]="cart.checked" (change)="changeSelection()"
                  *ngIf="(isHandset$ | async)">

                &nbsp;&nbsp;{{cart.product_name}}
              </mat-card-title>
              <mat-card-subtitle>{{cart.product_description}}</mat-card-subtitle>
            </div>
            <div class="col-md-3">
              <button mat-stroked-button class="number" (click)="handleMinus(cart)">
                <span class="material-icons">
                  remove
                </span>
              </button>
              <mat-form-field appearance="outline">
                <input matInput id="{{cart.product_id}}" [(ngModel)]="cart.product_quantity" min="1" [disabled]="true">
              </mat-form-field>
              <button mat-stroked-button class="number" (click)="handlePlus(cart)">
                <span class="material-icons">
                  add
                </span>
              </button>
            </div>
            <div class="col-md-1">
              <p>{{cart.price_per_piece*cart.product_quantity}} ฿</p>
            </div>
            <div class="col-md-1" style="text-align: center;">
              <button mat-raised-button color="warn" class="btn-block" type="submit" (click)="remove(cart.cart_id)">
                <span class="material-icons">delete</span>
              </button>
            </div>
          </div>
          <mat-progress-bar mode='indeterminate' *ngIf="loadUpdateCart"></mat-progress-bar>
        </mat-card>
      </div>
    </div>
  </div>

  <br>
  <div class="row" [@fadeInOut] *ngIf="cartStatus == false && productInCart.length != 0">
    <div class="col-md-12">
      <mat-card>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9">
            <span class="material-icons">local_shipping</span>&nbsp;&nbsp;
            &nbsp;&nbsp; เลือกประเภทการจัดส่ง
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <mat-card *ngFor="let item of shippingBrand; let i = index">
              <div class="row">
                <div class="col-md-1 address-padding">
                  <input type="radio" value="{{i}}" [checked]="item.status == 1" (change)="handleRadio(i)">
                  <!-- {{item.status == 1 | json }} -->
                </div>
                <div class="col-md-9 address-padding">
                  จัดส่งด้วย: {{item.brand}}
                </div>
                <div class="col-md-1 btn-padding">
                  <!-- <button mat-raised-button color="accent" class="btn-block" type="submit"
                      (click)="onClickSubmit(item.address_id)" routerLink="/editaddress">แก้ไข</button> -->

                </div>
              </div>
            </mat-card>
            <br>
          </div>
          <div class="col-md-4"></div>
        </div>

        <!-- <div *ngIf="taxCheck == true">
            <div class="col-md-1"><button mat-stroked-button (click)="openDialogTax()"><span
                  class="material-icons">create</span></button></div>
          </div> -->

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-9">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9">
            <span class="material-icons">location_on</span> &nbsp;&nbsp; จัดส่งที่:
            {{dataSource[0].address}}
            {{dataSource[0].province_name}} {{dataSource[0].amphure_name}} {{dataSource[0].district_name}}
            รหัสไปรษณีย์ {{dataSource[0].postal_code}}
          </div>
          <div class="col-md-1">
            <button mat-stroked-button (click)="openDialogAddress()"><span class="material-icons">create</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-9">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9">
            <span class="material-icons">wysiwyg</span>&nbsp;&nbsp;
            <input type="checkbox" [(ngModel)]="taxCheck">&nbsp;&nbsp; ต้องการใบกำกับภาษี
          </div>
          <div *ngIf="taxCheck == true">
            <div class="col-md-1"><button mat-stroked-button (click)="openDialogTax()"><span
                  class="material-icons">create</span></button></div>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-8">
                <p>ราคารวม</p>
              </div>
              <div class="col-md-4">
                <p>{{totalPrice | currency :'฿':true}}</p>
              </div>
            </div>
            <div class="row" *ngIf="isGotPromotion == true">
              <div class="col-md-8">
                <p>คุณได้รับโปรโมชันเมื่อ {{discribePromotion}} <label style="color: red;">คุณได้รับส่วนลด</label></p>
              </div>
              <div class="col-md-4">
                <p style="color: red;">-{{discount | currency :'฿':true}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <p>ค่าจัดส่ง </p>
              </div>
              <div class="col-md-4">
                <p>+{{sumShippingCost | currency :'฿':true}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <p><strong>ยอดสุทธิ</strong></p>
              </div>
              <div class="col-md-4">
                <p><strong>{{cartTotal | currency :'฿':true}}</strong></p>
              </div>
            </div>
            <br>

            <div class="row rightside">
              <div class="col-md-4"></div>
              <div class="col-md-3">
                <button mat-stroked-button routerLink="/" class="btn-block">เลือกสินค้าเพิ่ม</button>
                {{shippingData|json}}
                <!-- <button mat-raised-button color="primary" (click)="checkoutCart()">ซื้อสินค้า</button> -->
                <!-- <button mat-raised-button color="primary" (click)="changestatusCart()">เลือกที่อยู่จัดส่ง</button> -->
              </div>
              <div class="col-md-3">
                <button mat-raised-button color="primary" class="btn-block" (click)="checkoutCart()">ซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>



</div>