<br><br>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      <mat-card>
        <div *ngIf="!(isHandset$ | async)">
          <div class="row">
            <div class="col-md-1" style="text-align: center;">
              <p>เลือก</p>
            </div>
            <div class="col-md-6">
              <p>สินค้า</p>
            </div>
            <div class="col-md-3">
              <p>จำนวนสินค้า(ชิ้น)</p>
            </div>
            <div class="col-md-2">
              <p>ราคารวม(บาท)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
        </div>
        <br>
        <div class="row" *ngFor="let cart of productInCart;let i = index" style="padding: 30px;">
          <div class="col-md-1" style="text-align: center; padding: 15px;" *ngIf="!(isHandset$ | async)">
            <input type="checkbox" [(ngModel)]="cart.checked" (change)="changeSelection()">
            <!-- [checked]="cart.checked" [(ngModel)]="cart.product_id" -->
          </div>
          <div class="col-md-2">
            <img mat-card-image src="http://www.clinictech.ops.go.th/online/cmo/fileuser/340/images/05.jpg">
          </div>
          <div class="col-md-4">
            <mat-card-title>
              <!-- [(ngModel)]="cart.product_id" -->
              <input type="checkbox" [(ngModel)]="cart.checked" (change)="changeSelection()"
                *ngIf="(isHandset$ | async)">
              &nbsp;&nbsp;{{cart.product_name}}
            </mat-card-title>
            <mat-card-subtitle>{{cart.product_description}}</mat-card-subtitle>
          </div>
          <div class="col-md-3">
            <button mat-stroked-button (click)="handleMinus(cart)">
              <span class="material-icons">
                remove
              </span>
            </button>
            <mat-form-field appearance="outline">
              <input matInput id="{{cart.product_id}}" [(ngModel)]="cart.product_quantity" min="1">
            </mat-form-field>
            <button mat-stroked-button (click)="handlePlus(cart)">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
          <div class="col-md-1">
            <p>{{cart.retail_price}} ฿</p>
          </div>
          <div class="col-md-1" style="text-align: center;">
            <button mat-raised-button color="warn" class="btn-block" type="submit" (click)="remove(cart.cart_id)">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-8">
                <p>ราคารวม</p>
              </div>
              <div class="col-md-4 rightside">
                <p>{{totalPrice | currency :'฿':true}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="isGotPromotion == true">
                <p>คุณได้รับโปรโมชันเมื่อ {{discribePromotion}} <label style="color: red;">คุณได้รับส่วนลด</label>
                </p>
              </div>
              <div class="col-md-6 rightside">
                <p style="color: red;">-{{discount | currency :'฿':true}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <p><strong>ยอดสุทธิ</strong></p>
              </div>
              <div class="col-md-4 rightside">
                <p><strong>{{cartTotal | currency :'฿':true}}</strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 rightside">
                <button mat-flat-button routerLink="/">เลือกสินค้าเพิ่ม</button>
                <button mat-raised-button color="primary" (click)="checkoutCart()">ซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="cart-page-content" *ngIf="productInCart.length == 0">
  <h4>Your cart is empty.</h4>
  <a routerLink="/">Go shopping</a>
</div>





<!-- <div class="cart-page-container">
        <div class="cart-page-header">
          <h1>Shopping Cart</h1>
        </div>
        {{selectItem}}
        <div class="cart-page-content" *ngIf="productInCart.length > 0">
          <div class="cart-item-header cart-item-row">
            <div class="cart-item-cell "><span>สินค้า</span></div>
            <div class="cart-item-cell cart-item-product"><span>สินค้า</span></div>
            <div class="cart-item-cell cart-item-quantity"><span>จำนวนสินค้า(ชิ้น)</span></div>
            <div class="cart-item-cell cart-item-total"><span>ราคารวม(บาท)</span></div>
            <div class="cart-item-cell cart-item-action"><span></span></div>
          </div> -->


<!-- <div class="cart-item-row" *ngFor="let cart of productInCart;let i = index">
            <input type="checkbox" [checked]="cart.checked" [(ngModel)]="cart.product_id" (change)="changeSelection()">
            <div class=" cart-item-cell cart-item-product">
    
              <div class="cart-item-thumbnail"
                [ngStyle]="{'background-image': 'url(http://www.clinictech.ops.go.th/online/cmo/fileuser/340/images/05.jpg)'}">
              </div> -->
<!-- <div class="cart-item-thumbnail">
                <img src="assets/FreshTricoderma.jpg" height="100px">
              </div> -->

<!-- <div class="cart-item-info"> -->
<!-- <mat-checkbox [(ngModel)]="cart" (ngModelChange)="updateAllComplete(cart)">
                </mat-checkbox> -->
<!-- <mat-checkbox  value="cart" [value]="cart" [(ngModel)]="selectItem"
                  [inputId]="cart.retail_price">
                </mat-checkbox> -->
<!--     
                <div class="cart-item-brand">{{cart.product_name}}</div>
                <div class="cart-item-title">{{cart.product_quantity}}</div>
              </div>
            </div>
            <div class="cart-item-cell cart-item-quantity"> -->
<!-- <quantity-control [quantity]="cart.product_quantity">
              </quantity-control> -->

<!-- <div class="wrapper">
                <button class="plusminus" (click)="handleMinus(cart)">-</button>
                <input type="number" class="num" id="{{cart.product_id}}" [(ngModel)]="cart.product_quantity" />
                <button class="plusminus" (click)="handlePlus(cart)">+</button>
              </div> -->

<!-- <button mat-stroked-button (click)="handleMinus(cart)">
                <span class="material-icons">
                  remove
                </span>
              </button>
              <mat-form-field appearance="outline">
                <input matInput id="{{cart.product_id}}" [(ngModel)]="cart.product_quantity">
              </mat-form-field>
              <button mat-stroked-button (click)="handlePlus(cart)">
                <span class="material-icons">
                  add
                </span>
              </button> -->


<!-- <a (click)="minusOne(productInOrder)"><i class="fa fa-minus"></i></a>
                  <input min="1" id="{{productInOrder.productId}}"
                        [max]=productInOrder.productStock
                        [(ngModel)]="productInOrder.count"
                        (change)="onChange(productInOrder)"
                        size="5"
                        type="number"
                        required
                        name='count'>
                  <a (click)="addOne(productInOrder)"> <i class="fa fa-plus"></i></a> -->

<!-- <quantity-control [quantity]="cart.product_quantity" (onChange)="changeQuantity(cart,$event)">
              </quantity-control> -->
<!-- </div>
            <div class="cart-item-cell cart-item-total">
              <div class="item-price"> -->
<!-- {{cart.retail_price | currency :'USD':true }} -->
<!-- {{cart.retail_price}} ฿
              </div>
            </div>
            <div class="cart-item-cell cart-item-action">
              <div class="item-remove" (click)="remove(cart.cart_id)">X</div>
            </div>
          </div>





          
          <div class="row cart-total">
            <div class="col-lg-offset-6"> -->
<!-- <div class="cart-total-row row">
                <div class="col-md-6 cart-total-label">
                  Cart overview
                </div>
                <div class="col-md-6 cart-total-value"></div>
              </div> -->
<!-- <div class="cart-total-row row">
                <div class="col-md-6 cart-total-label">
                  ราคารวม
                </div>
                <div class="col-md-6 cart-total-value">
                  {{totalPrice | currency :'฿':true}}
                </div>
              </div>
    
    
              <div class="cart-total-row row" *ngIf="isGotPromotion == true">
                <div class="col-md-6 cart-total-label">
                  คุณได้รับโปรโมชัน {{discribePromotion}} ส่วนลด
                </div>
                <div class="col-md-6 cart-total-value">
                  {{discount | currency :'฿':true}}
                </div>
              </div>
    
    
    
              <div class="cart-total-row row">
                <div class="col-md-6 cart-total-label">
                  ยอดสุทธิ
                </div>
                <div class="col-md-6 cart-total-value cart-total-price">
                  {{cartTotal | currency :'฿':true}} -->
<!-- {{totalPrice | currency :'USD':true}} AUD -->
<!-- </div>
              </div>
            </div>
          </div>
          <div class="cart-buttons">
            <div class="continue-shopping"><a routerLink="/">เลือกสินค้าเพิ่ม</a></div>
            <div class="checkout-button button button-primary button-large">ซื้อ ({{cartTotal}}) ฿
            </div>
    
            <button mat-flat-button color="accent" (click)="checkoutCart()">ซื้อ</button>
          </div>
        </div>
        <div class="cart-page-content" *ngIf="productInCart.length == 0">
          <h4>Your cart is empty.</h4>
          <a routerLink="/">Go shopping</a>
        </div>
      </div>

    </div>
  </div>
  
</div> -->








<!-- <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="50"
            [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>
    </div>
  </div> -->