<br><br>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-2">
        <p class="tittle">ที่อยู่จัดส่ง</p>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button mat-raised-button color="primary" class="btn-block" routerLink="/addaddress">เพิ่มที่อยู่จัดส่ง</button>
    </div>
  </div>
  <br><br>
  <div class="row" *ngFor="let item of dataSource; let i = index">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-10 address-padding">
            {{item.firstname}} {{item.lastname}}: {{item.address}} ตำบล {{item.district_name}} อำเภอ {{item.amphure_name}}  จังหวัด {{item.province_name}}  {{item.postal_code}}     
          </div>
          <div class="col-md-1 btn-padding">
            <button mat-raised-button color="accent" class="btn-block" type="submit" (click)="onClickSubmit(item.address_id)" routerLink="/editaddress">แก้ไข</button>
          </div>
          <div class="col-md-1 btn-padding">
            <button mat-raised-button color="warn" class="btn-block" type="submit" (click)="onClickDelete(item.address_id)">ลบ</button>
          </div>
        </div>
      </mat-card>
      <br>
    </div>
  </div>
</div>
