<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" green
          (click)="openDialogAddAddress()">เพิ่มที่อยู่จัดส่ง</button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="dataSource.length == 0">
    <div class="col-md-12 address-padding">
      <mat-card style="width: 100%;">
        คุณยังไม่ได้เพิ่มที่อยู่จัดส่ง
      </mat-card>
    </div>
  </div>
  <div class="row" *ngFor="let item of dataSource; let i = index" >
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-1 address-padding">
            <input type="radio" value="{{i}}" [checked]="item.status == 1" (change)="handleRadio(i)">
          </div>
          <div class="col-md-9 address-padding">
            ชื่อ: {{item.firstname}} {{item.lastname}} ที่อยู่: {{item.address}} {{item.district_name}}
            {{item.amphure_name}}
            {{item.province_name}} {{item.postal_code}}
          </div>
          <div class="col-md-1 btn-padding">
            <button mat-raised-button color="accent" (click)="onClickSubmit(item.address_id)">แก้ไข</button>
          </div>
          <div class="col-md-1 btn-padding">
            <button mat-raised-button color="warn" class="btn-block" type="submit"
              (click)="onClickDelete(item.address_id)">ลบ</button>
          </div>
        </div>
      </mat-card>
      <br>
    </div>
  </div>
</div>