<br><br>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-2">
        <p class="tittle">ที่อยู่จัดส่ง</p>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button mat-raised-button color="primary" class="btn-block" routerLink="/addaddress">เพิ่มที่อยู่จัดส่ง</button>
    </div>
  </div>
  <br><br>
  <div class="row" *ngFor="let item of dataSource; let i = index">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-8">
            {{item.firstname}} {{item.lastname}}: {{item.address}} {{item.amphures_id}}        
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" class="btn-block">เพิ่มที่อยู่จัดส่ง</button>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" class="btn-block">เพิ่มที่อยู่จัดส่ง</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
