<div class="row align-items-center">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <mat-card>
      <br><br>
      <mat-card-header>
        <mat-card-title>ตั้งรหัสผ่านใหม่</mat-card-title>
      </mat-card-header>
      <br><br>
      <form [formGroup]=reactiveForm>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>ชื่อผู้ใช้ (E-mail)</mat-label>
                <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email.hasError('required')">
                  โปรดกรอกชื่อผู้ใช้
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password" #message placeholder="รหัสผ่าน" minlength="6" maxlength="16">
                <mat-hint align="end"><small> {{message.value.length}} / 16</small></mat-hint>
                <mat-error *ngIf="password.hasError('required')">
                  โปรดกรอกรหัสผ่าน
                </mat-error>
                <mat-error *ngIf="password.hasError('minlength')">
                  โปรดกรอกรหัสผ่านมากกว่า 6 ตัวอักษร
                </mat-error>
                <mat-error *ngIf="password.hasError('maxlength')">
                  โปรดกรอกรหัสผ่านน้อยกว่า 16 ตัวอักษร
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="password" name="password_confirmation" #message formControlName="password_confirmation" placeholder="รหัสผ่านอีกครั้ง">
                <mat-hint align="end"><small> {{message.value.length}} / 16</small></mat-hint>
                <mat-error *ngIf="password_confirmation.hasError('required')">
                  โปรดกรอกรหัสผ่านอีกครั้ง
                </mat-error>
                <mat-error *ngIf="password_confirmation.hasError('minlength')">
                  โปรดกรอกรหัสผ่านมากกว่า 6 ตัวอักษร
                </mat-error>
                <mat-error *ngIf="password_confirmation.hasError('maxlength')">
                  โปรดกรอกรหัสผ่านน้อยกว่า 16 ตัวอักษร
                </mat-error>
                <mat-error *ngIf="password_confirmation.hasError('compare')">
                  โปรดกรอกรหัสผ่านให้เหมือนกัน
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" (click)="onSubmit()">เปลี่ยนรหัสผ่าน</button>
      </form>
    </mat-card>
  </div>
</div>