<div class="main-container" style=" height:200vh;">
    <section class="content-header">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-sm-4 ">
              <a href="#" class="btn btn-success " [routerLink]="['/adds']"
                routerLinkActive="router-link-active">เพิ่มร้านค้า <mat-icon>add_circle_outline</mat-icon></a>
            </div>
            <div class="form-group col-sm-4 ">
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>
      <h5 class="card-title">ร้านค้า</h5>
      <div class="card-body p-0 ">
        <table class="table">
          <thead>
            <tr>
              <!-- <th>รหัสวัตถุดิบ</th> -->
              <th>ชื่อร้านค้า</th>
              <th>ชื่อผู้ติดต่อ</th>
              <th>เบอร์ติดต่อ</th>
              <th>อีเมล</th>
              <th>ที่ตั้ง</th>
              <th></th>
            </tr>
          </thead>
          <!-- <li *ngFor="let mat of materialList"> -->
          <tbody>
            <tr *ngFor="let mat of dataArr ">
              <td>{{mat.store_name}}</td>
              <td>{{mat.supplier_name}}</td>
              <td>{{mat.phone}}</td>
              <td >{{mat.email}}</td>
              <td >{{mat.address}}</td>
              <td class="text-right py-0 align-middle">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-info" routerLink="">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                  <button class="btn btn-warning" routerLink="/edits/{{mat.id}}">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button  class="btn btn-danger"(click)="deletesupplier(mat.id)"><mat-icon>delete_sweep</mat-icon></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
  
      <!-- <ngb-pagination [collectionSize]="totalCount" [pageSize]="limit" [(page)]="page" aria-label="Default pagination"
        (pageChange)="getMeterial()"></ngb-pagination> -->
    </section>
  </div>