table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 10%;
}

th.mat-header-cell {
  text-align: left;
  font-family: 'Kanit', cursive;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.font {
    color: black;
}

.flex {
    margin-left: 1100px;
}