<div class="main-container" style=" height:200vh;">
  <section class="content-header">
    <section class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </section>
    <br><br><br>
    <section class="content">
      <section class="content-header">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row ">
  
              <div class="form-group col-sm-4 ">
              </div>
              
            </div>
          </div><!-- /.container-fluid -->
          <h5 class="card-title">ล็อตสินค้า</h5>
        </section>
  
        <div class="card card-success">
          
                
                  
  <!--   
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fas fa-minus"></i></button>
                  </div> -->
               
    
              
    
                <div class="card-body p-0">
                  <table class="table">
                    <thead>
                      <tr>
                        <!-- <th>รหัสวัตถุดิบ</th> -->
                        <!-- <th >Lot No.</th> -->
                        <th >ชื่อสินค้า</th>
                        <!-- <th >ชื่อเจ้าหน้าที่</th> -->
                        <th >วันที่ผลิต</th>
                        <th >จำนวนคงเหลือ</th>
                        <th>รายละเอียด</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mat of date  ">
                        <td>{{mat.product_name}}</td>
                        <td>{{mat.MFG}}</td>
                        <td>{{mat.quantity}}</td>
                        <td class="text-right py-0 align-middle">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </section>
            <br>
            <div class="row">
              <div class="form-group">
  
                <td>
                  &nbsp; <button class="btn btn-secondary  " routerLink="/stockp"> กลับ</button>
                </td>
              </div>
            </div>
    </section>
    


  </section>
