::ng-deep .login-wrapper {
    height: 70%;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 650px;
    text-align: left;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 25px;
    margin: 0;
}

.info{
    padding-left: 14px;
}

mat-card{
    text-align: left;
}  
