<div class="container">
  <br><br>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>ข้อมูลบัญชีผู้ใช้</mat-card-title>
      </mat-card-header>
      <br>
      <form class="example-form">
        <mat-card-content>
          <strong>อีเมล์ผู้ใช้: </strong>
          <p class="info">{{setEmail}}</p>
          <br>
          <strong>ชื่อ - นามสกุล: </strong>
          <p class="info">{{ShowName_title}}&nbsp;&nbsp;{{ShowFirstname}}&nbsp;&nbsp;{{ShowLastname}}</p>
          <br>
          <strong>เบอร์โทรศัพท์: </strong>
          <p class="info">{{ShowTelephone}}</p>
        </mat-card-content>
        <div class="row">
          <div class="col-md-8">
            ยอดสั่งซื้อสะสม {{showShippigPoint}} บาท
            <mat-progress-bar mode="determinate" [value]=pointShip></mat-progress-bar>
          </div>
          <div class="col-md-4">
            <!-- <button mat-stroked-button color="primary" class="btn-block"
              routerLink="/editprofile">แก้ไขข้อมูลส่วนตัว</button> -->
            <button mat-raised-button color="primary" (click)="onClickSubmit()">แก้ไขข้อมูลส่วนตัว</button>
          </div>

        </div>

        <div class="row">
          <div class="col-md-8">
            คูปองพร้อมใช้: {{counCoupon}} ใบ
          </div>
        </div>

      </form>
    </mat-card>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-self-center">ออร์เดอร์ของฉัน</div>
          </mat-panel-title>
          <div class="row align-self-center">
            <div class="col-md-12">
              <mat-panel-description>
                <!-- <div class="col-md-6">
                  <button mat-raised-button color="primary" green
                    (click)="openDialogAddress()">เพิ่มที่อยู่จัดส่ง</button>
                </div> -->
              </mat-panel-description>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-order></app-order>
      </mat-expansion-panel>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-self-center">คูปองส่วนลด </div>
          </mat-panel-title>
          <div class="row align-self-center">
            <div class="col-md-12">
              <mat-panel-description>
                <div class="col-md-6">

                </div>
              </mat-panel-description>
            </div>
          </div>
        </mat-expansion-panel-header>
        <!-- ............... component -->
        <!-- <div class="row">
          <div class="col-md-2">
            <mat-button-toggle (click)="filter(0)">คูปองพร้อมใช้</mat-button-toggle>
          </div>
          <div class="col-md-2">
            <mat-button-toggle (click)="filter(1)">คูปองใช้แล้ว</mat-button-toggle>
          </div>
        </div> -->
        <br>
        <div class="row" *ngFor="let item of filterCouponData; let i = index">
          <div class="col-md-12">
            <mat-card>
              <div class="row">

                <div class="col-md-6 address-padding">
                  รหัสคูปอง {{item.key}}
                </div>
                <div class="col-md-4 btn-padding">

                  <!-- <div *ngIf="item.coupon_status == 0">สถานะพร้อมใช้งาน</div> -->
                  <!-- <div *ngIf="item.coupon_status != 0">ใช้งานแล้ว</div> -->

                </div>
                <div class="col-md-2 btn-padding">
                  คูปองส่วนลด 10%
                </div>
              </div>
            </mat-card>
            <br>
          </div>
        </div>

        <!-- ............... component -->



      </mat-expansion-panel>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-self-center">ข้อมูลที่อยู่จัดส่ง</div>
          </mat-panel-title>
          <div class="row align-self-center">
            <div class="col-md-12">
              <mat-panel-description>
                <div class="col-md-6">
                  <button mat-raised-button color="primary" green (click)="openDialogAddress()"
                    *ngIf="!panelOpenState">เพิ่มที่อยู่จัดส่ง</button>
                </div>
              </mat-panel-description>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-showaddress></app-showaddress>
      </mat-expansion-panel>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-self-center">ข้อมูลที่อยู่ใบกำกับภาษี</div>
          </mat-panel-title>
          <div class="row align-self-center">
            <div class="col-md-12">
              <mat-panel-description>
                <div class="col-md-6">
                  <button mat-raised-button color="primary" (click)="openDialogTax()"
                    *ngIf="!panelOpenState">เพิ่มที่อยู่ใบกำกับภาษี</button>
                </div>
              </mat-panel-description>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-showTaxAddress></app-showTaxAddress>
      </mat-expansion-panel>
    </div>

  </div>


  <br>

  <!-- <div class="col-md-6">
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
    </mat-form-field>
    <button mat-raised-button (click)="openDialog()">เพิ่มที่อยู่จัดส่ง</button>
  </div> -->












</div>