
<br><br>
<div class="container">
  <div class="row" *ngFor="let item of dataSource">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-10">
            ออเดอร์เลขที่: {{item.order_id}} วันที่ทำรายการ: {{item.order_date}}
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="onClickSubmit(item.order_id)">
              <span class="material-icons">receipt</span>
            </button>
          </div>
        </div>
      </mat-card>
      <br>
    </div>
  </div>
</div>