<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-button-toggle (click)="filter(0)">ออเดอร์รอแจ้งชำระเงิน</mat-button-toggle> 
    </div>
    <div class="col-md-3">
      <mat-button-toggle (click)="filter(1)">ออเดอร์รอดำเนินการ</mat-button-toggle> 
    </div>

    <div class="col-md-3">
      <mat-button-toggle (click)="filter(2)">ออเดอร์จัดส่งแล้ว</mat-button-toggle> 
    </div>

  </div>
  <br>
  <div class="row" *ngFor="let item of filterOrder">
    <div class="col-md-12">
      <mat-card>

        <div class="row">
          <div class="col-md-4">
            ออเดอร์เลขที่: {{item.order_id}} <br> วันที่ทำรายการ: {{item.order_date}}
          </div>

          <!-- <div class="col-md-4"> -->
          <div class="col-md-4" *ngIf="item.status == 1">
            <kbd class="wait">จัดเตรียมสินค้า</kbd>
          </div>
          <div class="col-md-4" *ngIf="item.status == 2">
            <kbd class="sale">จัดส่งแล้ว</kbd>
          </div>
          <!-- </div> -->

          <!-- <div class="col-md-4"> -->
          <div class="col-md-4" *ngIf="item.status == 0 && item.image == null">
            <kbd class="out">ยังไม่อัพโหลดหลักฐาน</kbd>
          </div>
          <div class="col-md-4" *ngIf="item.status == 0 && item.image != null">
            <kbd class="out">รอตรวจสอบหลักฐาน</kbd>
          </div>
          <!-- <div class="col-md-4" *ngIf="item.image != null">
            <kbd class="out">อัพโหลดหลักฐานแล้ว</kbd>
          </div> -->
          <!-- </div> -->

        </div>

        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="onClickUpload(item.order_id)">
              <span class="material-icons">description</span>
            </button>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="onClickSubmit(item.order_id)">
              <span class="material-icons">receipt</span>
            </button>
          </div>
        </div>


      </mat-card>
      <br>
    </div>
  </div>
</div>