<br>
<div class="left">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p routerLink="/deliveryStatus"><u>รายการสั่งซื้อ</u></p>
      <h3>รายละเอียดการสั่งสินค้า</h3>
    </div>
  </div>
  <br>
  <div [formGroup]="reactiveForm">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-10">
        <div class="card">
          <div class="card-header">
            <h5>รายการสั่งซื้อเลขที่ : {{order_number}}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-3">
                    <p><b>สั่งซื้อโดย : </b></p>
                  </div>
                  <div class="col-md-8">
                    <p>{{shUserfirstname}} {{shUserlastname}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>จัดส่ง : </b></p>
                  </div>
                  <div class="col-md-8">
                    <p>{{shShipfirstname}} {{shShiplastname}}</p>
                    <p>{{shAddress}} {{shSubdistrict}} {{shDistrict}} {{shProvince}} {{shPostal_code}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>ติดต่อ : </b></p>
                  </div>
                  <div class="col-md-8">
                    <p>{{shTelephone}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4"><button mat-stroked-button color="primary" class="btn-block"
                      (click)="onPrintAddress(order_number)" *ngIf="selectesStatus[0].name === 'รอการจัดส่ง'">พิมพ์ที่อยู่จัดส่ง</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p>สถานะ</p>
                    <mat-form-field appearance="fill" class="dropdown dropHeight">
                      <mat-label>{{selectesStatus[0].name}}</mat-label>
                      <!-- <mat-label>สถานะ</mat-label> -->
                      <mat-select formControlName="status" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let obj of statusArr" value="{{obj.id}}">
                          {{obj.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="reactiveForm.controls['status'].errors?.required">โปรดเลือกสถานะ</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-md-4">
                <div *ngIf="orderPart[0].image != null">
                  <img [src]="orderPart[0].image ? imageDirectoyPath+orderPart[0].image : 'assets/image/no-image.png'"
                    style="width: 80%;">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-2">
                <button mat-stroked-button color="primary" class="btn-block"
                  routerLink="/deliveryStatus">ยกเลิก</button>
              </div>
              <div class="col-md-2">
                <button mat-raised-button color="primary" type="submit" class="btn-block"
                  [disabled]="reactiveForm.invalid" (click)="onClickSubmit()">บันทึกข้อมูล</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h5>รายการสั่งซื้อ</h5>
          </div>
          <div class="card-body">
            <table class="table" id="excel-table">
              <thead>
                <tr class="center">
                  <th></th>
                  <th>ชื่อสินค้า</th>
                  <th>จำนวน</th>
                  <th>ราคา</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataForm; index as i">
                  <td class="center">{{i+1}}</td>
                  <td>{{item.product_name}}</td>
                  <td class="center">{{item.quantity}}</td>
                  <td class="center">{{item.retail_price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>