<div class="container">
  {{orderDetail | json}}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" id="htmlData">
      <table class="table table-bordered">
        <tr class="table-primary">
          <th>รายการ</th>
          <th>หน่วย</th>
          <th>ราคา/หน่วย (บาท)</th>
          <th>จำนวน</th>
          <th>จำนวนเงืน (บาท)</th>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>ค่าขนส่ง</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>