<div class="container">
  <!-- {{orderDetail | json}} -->
  <div id="htmlData">
    <div class="row" >
      <div class="col-md-4"></div>
      <div class="col-md-4 center">
        <img src="../../../../assets/ตรามวล.png" style="width: 70px; padding: 10px;">
        <img src="../../../../assets/tcru-crop-removebg.png" style="width: 95px;padding: 10px;">
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 center">
        <h2>ใบรับบริการวิชาการ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center">
        <h3>ศูนย์ผลิตและบริการชีวินทรีย์เกษตร มหาวิทยาลัยวลัยลักษณ์</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>ชื่อ - สกุล: {{resData[2]}} {{resData[3]}}</p>
        <p>ที่อยู่: {{resData[0]}} {{resData[5]}} {{resData[6]}} {{resData[7]}} {{resData[8]}}</p>
        <p>โทรศัพท์: {{resData[1]}}</p>
      </div>
    </div>

    <div class="row" >
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12" id="htmlData">
        <table class="table table-bordered">
          <tr class="table-primary">
            <th>รายการ</th>
            <th>หน่วย</th>
            <th>ราคา/หน่วย (บาท)</th>
            <th>จำนวน</th>
            <th>จำนวนเงิน (บาท)</th>

          </tr>
          <tr *ngFor="let item of orderDetail; let i = index">
            <th>{{item.product_name}}</th>
            <td>{{item.unit}}</td>
            <td>{{item.retail_price}}</td>
            <td>{{item.product_quantity}}</td>
            <td>{{item.total_price}}</td>
          </tr>
          <tr>
            <th>ราคารวม</th>
            <td></td>
            <td>{{resData[9]}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th style="color: red;">ส่วนลด</th>
            <td></td>
            <td>{{resData[10]}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>ราคาสุทธิ</th>
            <td></td>
            <td>{{resData[11]}}</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>