<br><br>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-8">
        <p class="tittle">เพิ่มที่อยู่จัดส่ง</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>เพิ่มที่อยู่จัดส่ง</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>ชื่อ</mat-label>
                <input matInput [formControl]="firstname" placeholder="" name="firstname">
                <mat-error *ngIf="firstname.hasError('required')">
                  โปรดกรอกชื่อ
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>นามสกุล</mat-label>
                <input matInput [formControl]="lastname" placeholder="" name="lastname">
                <mat-error *ngIf="lastname.hasError('required')">
                  โปรดกรอกนามสกุล
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input matInput [formControl]="telephone" placeholder="" name="telephone" 
                    pattern="[0-9]+" minlength="9" maxlength="10">
                <mat-error *ngIf="telephone.hasError('required')">
                  โปรดกรอกเบอร์โทรศัพท์
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>ที่อยู่จัดส่งสินค้า</mat-label>
                <input matInput [formControl]="address" placeholder="" name="address">
                <mat-error *ngIf="address.hasError('required')">
                  โปรดกรอกที่อยู่จัดส่งสินค้า
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input matInput [formControl]="telephone" placeholder="" name="telephone" 
                    pattern="[0-9]+" minlength="9" maxlength="10">
                <mat-error *ngIf="telephone.hasError('required')">
                  โปรดกรอกเบอร์โทรศัพท์
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <mat-label>ที่อยู่จัดส่งสินค้า</mat-label>
                <input matInput [formControl]="address" placeholder="" name="address">
                <mat-error *ngIf="address.hasError('required')">
                  โปรดกรอกที่อยู่จัดส่งสินค้า
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  
</div>   