<div class="form-group">
    <label>upload</label>
    <div class="col-md-12">
        <!-- พาท : {{orderPart[0].image}} -->
        <!-- <img src="../../../assets/{{orderPart[0].image}}" style="width: 100%;"> -->
        <div *ngIf="orderPart[0].image == null">
            คุณยังไม่ได้อัพโหลดหลักฐานการจ่ายเงิน
        </div>
        <div *ngIf="orderPart[0].image != null">
            <img src="../../../../../../back/public/img/{{orderPart[0].image}}" style="width: 100%;">
        </div>
    </div>
    <input type="file" class="form-control" (change)="onFileSelected($event)">
    <button (click)="imageUpload()">บันทึก</button>
</div>