<div class="container">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>แก้ไขข้อมูลบัญชีผู้ใช้</mat-card-title>
      </mat-card-header>
      <br>
      <form [formGroup]=reactiveForm class="example-form">
        
        <mat-card-content>
          <br>
          <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
              <strong>อีเมล์ผู้ใช้</strong>
              <p>{{setEmail}}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
              <strong>ชื่อ-นามสกุล</strong>
            </div>
          </div>
          <br>
          <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>คำนำหน้า</mat-label>
                <input matInput [formControl]="name_title" placeholder="" name="name_title">
                <mat-error *ngIf="name_title.hasError('required')">
                  <small>โปรดกรอกคำนำหน้า</small>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>ชื่อ</mat-label>
                <input matInput [formControl]="firstname" placeholder="" name="firstname">
                <mat-error *ngIf="firstname.hasError('required')">
                  <small>โปรดกรอกชื่อ</small>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>นามสกุล</mat-label>
                <input matInput [formControl]="lastname" placeholder="" name="lastname">
                <mat-error *ngIf="lastname.hasError('required')">
                  <small>โปรดกรอกนามสกุล</small>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
              <strong>เบอร์โทรศัพท์</strong>
            </div>
          </div>
          <br>
          <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input matInput [formControl]="telephone" placeholder="" name="telephone" 
                    pattern="[0-9]+" minlength="9" maxlength="10">
                <mat-error *ngIf="telephone.hasError('required')">
                  โปรดกรอกเบอร์โทรศัพท์
                </mat-error>
                <mat-error *ngIf="telephone.hasError('pattern')">
                  โปรดกรอกเบอร์โทรศัพท์เป็นตัวเลข
                </mat-error>
                <mat-error *ngIf="telephone.hasError('minlength')">
                  โปรดกรอกเบอร์โทรศัพท์
                </mat-error>
                <mat-error *ngIf="telephone.hasError('maxlength')">
                  โปรดกรอกเบอร์โทรศัพท์
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          

        </mat-card-content>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <button mat-stroked-button class="btn-block" routerLink="/profile">ยกเลิก</button>
          </div>
          <div class="col-md-5">
            <button mat-stroked-button color="primary" type="submit" class="btn-block" [disabled]="reactiveForm.invalid"
                (click)="onClickSubmit()">บันทึกข้อมูล</button>
          </div>
        </div>
        

      </form>
    </mat-card>
  </div>
</div>
